# --- Laravel Estandar ---
/vendor
/node_modules
/public/storage
/public/build
/public/hot
/storage/*.key
/storage/pail
.phpunit.result.cache
/.phpunit.cache
.env
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml

# --- Docker y Composer ---
.composer/
docker/mysql_data/
.docker/

# --- Editores y Sistemas ---
*.log
.DS_Store
Thumbs.db
.phpactor.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# --- Otros ---
.temp
.swp